fastapi
uvicorn
asyncpg
boto3
pydantic-settings==2.2.1
python-dotenv==1.0.1
openai>=1.60.0
groq
pandas==2.2.1
pyarrow==15.0.2
google-genai
agno>=1.7.0
sqlalchemy>=2.0
psycopg[binary]>=3.0
scikit-learn
joblib
PyJWT
passlib
bcrypt==4.0.1
python-multipart
email-validator
mcp>=2.1.0,<3.0.0

pytest
pytest-asyncio
pytest-cov
